# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Virtual environments
venv/
env/
.venv/

# VS Code
.vscode/

# Python environment
.python-version

# Logs
*.log

# Large model files (optional)
*.keras
